<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/header :: header('Заказы')"></head>

<body>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная </a></li>
        <li class="breadcrumb-item"><a href="/orders">Заказы </a></li>
        <li class="breadcrumb-item active" aria-current="page">Просмотр</li>
    </ol>
</nav>

<div class="container base">

    <div class="row"><h4 th:utext="${order.getUser().getName()}"></h4></div>
    <div class="row"><h6 th:utext="'Заказ ' + ${order.getNumber()} + '.'"></h6></div>


    <div class="row">

        <table class="table table-hover">

            <thead class="thead">
            <tr>
                <th scope="col">Категория</th>
                <th scope="col">Товар</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Цена</th>
                <th scope="col">
                    <a href="#modal" id="btnadd" data-toggle="modal" title="Добавить товар"><i
                            class="bi bi-plus-square-fill icon-add-color"></i></a></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="product : ${products}">

                <td th:utext="${product.getProduct().getColor().getCategory().getName()}"></td>

                <td th:utext="${product.getProduct().getName()}"></td>

                <td th:utext="${product.getCount()}"></td>

                <td th:utext="${product.getPrice()}"></td>

                <td><a th:href="@{/orders/{id}/edit/{productId}(id=${order.id}, productId=${product.getId()})}"><i
                        class="bi bi-pencil-square"></i></a>
                </td>
                <td><a th:href="@{/orders/{id}/delete/{productId}(id=${order.id}, productId=${product.getId()})}"><i
                        class="bi bi-trash"></i></a></td>

            </tr>
            </tbody>

        </table>


        <div id="modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h6 class="modal-title">Новый товар </h6>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-body">

                        <form th:action="@{/orders/{id}/add(id=${order.id})}" th:object="${newProduct}" th:method="POST"
                              role="form">
                            <fieldset>

                                <div class="form-group">
                                    <input name="id" type="text" th:field="*{id}"
                                           class="form-control input-lg" hidden="hidden">
                                </div>

                                <div class="form-group">
                                    <select name="category" id="category" class="form-control selectpicker category">
                                        <option value="0" selected="selected" disabled>--Выберите категорию--</option>
                                        <option th:each="category : ${categories}" th:value="${category.id}"
                                                th:text="${category.name}"></option>
                                    </select>
                                </div>

                                <div class="color form-group">
                                    <select name="color" id="color" class="form-control selectpicker color">
                                        <option value="0" selected="selected" disabled>--Выберите цвет--</option>
                                    </select>
                                </div>

                                <div class="models form-group">
                                    <select name="productId" id="product" class="form-control selectpicker product">
                                        <option value="0" selected="selected" disabled>--Выберите товар--</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input name="count" type="text" th:field="*{count}"
                                           class="form-control input-lg" placeholder="Кол-во">
                                </div>

                                <div class="form-group">
                                    <input name="price" id="price" type="text" th:field="*{price}"
                                           class="form-control input-lg" placeholder="Цена">
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6"></div>
                                    <div class="col-xs-3 col-sm-3 col-md-3">
                                        <input type="submit" id="save" class="btn btn-xs btn-success btn-block"
                                               value="Сохранить">
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3">
                                        <a href="" class="btn btn-xs btn-default btn-block">Закрыть</a>
                                    </div>
                                </div>

                            </fieldset>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div th:replace="parts/footer :: bootstrap_script"></div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#btnadd').on('click', function () {

            setupDefaultSelectForCategoryField();
            setupDefaultSelectForColorField();
            setupDefaultSelectForProductField();

            $("#category").change(function () {
                $("#color").removeAttr('disabled');
                reloadColorPicker();
            });

            $("#color").change(function () {
                $("#product").removeAttr('disabled');
                reloadProductPicker();
            });

            $("#product").change(function () {
                var productId = this.value;
                $.get("/util/product?productId=" + productId, function (data) {
                    $('#price').val(data);
                    $('#count').val('1');
                });
            });

        });
    });

    function setupDefaultSelectForCategoryField() {
        $('#category option:first').prop('selected', true);
    }

    function setupDefaultSelectForColorField() {
        $('#color option:first').prop('selected', true);
        $("#color").attr('disabled', 'disabled');
    }

    function setupDefaultSelectForProductField() {
        $('#product option:first').prop('selected', true);
        $("#product").attr('disabled', 'disabled');
    }

    function reloadColorPicker() {
        var category = $("#category").val();

        $.get("/util/colors?categoryId=" + category, function (data) {
            var colors = JSON.parse(data);

            $("#color").empty();

            var option = "<option value='0' selected='selected' disabled>--Выберите цвет--</option>";
            $("#color").append(option);

            for (var id in colors) {
                option = "<option value = " + id + ">" + colors[id] + "</option>";
                $("#color").append(option);
            }
        });
    };


    function reloadProductPicker() {
        var color = $("#color").val();

        $.get("/util/products?colorId=" + color, function (data) {
            var products = JSON.parse(data);

            $("#product").empty();

            var option = "<option value='0' selected='selected' disabled>--Выберите товар--</option>";
            $("#product").append(option);

            for (var id in products) {
                option = "<option value = " + id + ">" + products[id] + "</option>";
                $("#product").append(option);
            }
        });
    };
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>
</html>