<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/header :: header('Приход товара')"></head>

<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item"><a href="/category">Склад</a></li>
        <li class="breadcrumb-item"><a th:href="@{/category/{categoryId}/color(categoryId=${category.id})}">Расцветки </a></li>
        <li class="breadcrumb-item"><a th:href="@{/category/{categoryId}/color/{colorId}/product(categoryId=${category.id}, colorId=${color.id})}">Товары </a></li>
        <li class="breadcrumb-item"><a th:href="@{/category/{categoryId}/color/{colorId}/product/{productId}/arrivals(categoryId=${category.id}, colorId=${color.id}, productId=${product.id})}">Приход товара </a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование</li>

        <div class="container base">
            <span th:replace="parts/logout_btn :: logout_button"></span>
        </div>
    </ol>
</nav>

<div class="container base">
    <div class="row">

        <form class="col s12" th:action="@{/category/{categoryId}/color/{colorId}/product/{productId}/arrivals/edit/{arrivalId}(categoryId=${category.id}, colorId=${color.id}, productId=${product.id}, arrivalId=${arrival.id})}" th:object="${arrival}" th:method="POST">

            <div class="row">
                <div class="form-group">
                    <label for="ids">Номер</label>
                    <input name="id" id="ids" type="text" class="form-control" th:field="*{id}" readonly="readonly">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="count">Количество</label>
                    <input name="count" id="count" type="text" class="form-control" th:field="*{count}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="date">Дата</label>
                    <input name="date" id="date" type="date" class="form-control" th:field="*{date}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="number">Номер накладной</label>
                    <input name="number" id="number" type="text" class="form-control" th:field="*{number}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <input name="product" id="product" type="text" class="form-control" th:field="*{product}" hidden="hidden">
                </div>
            </div>

            <div class="row">
                <div>
                    <input type="submit" value="Сохранить" class="btn btn-success">
                    <a th:href="@{/category/{categoryId}/color/{colorId}/product/{productId}/arrivals(categoryId=${category.id}, colorId=${color.id}, productId=${product.id})}" th:utext="Назад" class="btn btn-link"></a>
                </div>
            </div>

        </form>
    </div>

</div>
</div>

<div th:replace="parts/footer :: bootstrap_script"></div>
</body>
</html>