<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/header :: header('Товары')"></head>


<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/static">Главная</a></li>
        <li class="breadcrumb-item"><a href="/category">Склад</a></li>
        <li class="breadcrumb-item"><a
                th:href="@{/category/{categoryId}/color(categoryId=${category.id})}">Расцветки </a></li>
        <li class="breadcrumb-item"><a
                th:href="@{/category/{categoryId}/color/{colorId}/product(categoryId=${category.id}, colorId=${color.id})}">Товары </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
    </ol>
</nav>

<div class="container base">
    <div class="row">

        <form class="col s12"
              th:action="@{/category/{categoryId}/color/{colorId}/product/edit/{productId}(categoryId=${category.id}, colorId=${color.id}, productId=${product.id})}"
              th:object="${product}" th:method="POST" enctype="multipart/form-data">

            <div class="row">
                <div class="form-group">
                    <label for="ids">Номер</label>
                    <input id="ids" type="text" class="form-control" th:field="*{id}" readonly="readonly">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input name="id" id="name" type="text" class="form-control" th:field="*{name}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="size">Размер</label>
                    <input name="size" id="size" type="text" class="form-control" th:field="*{size}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="articul">Артикул</label>
                    <input name="articul" id="articul" type="text" class="form-control" th:field="*{articul}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="price">Цена</label>
                    <input name="price" id="price" type="text" class="form-control" th:field="*{price}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="incomingBalance">Начальный остаток</label>
                    <input name="incomingBalance" id="incomingBalance" type="text" class="form-control"
                           th:field="*{incomingBalance}">
                </div>
            </div>

            <div class="row">
                <img th:src="@{/endpoint/image/{id}(id=${product.id})}" style="width: 50px"/>
                <div class="form-group">

                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="input-append">
                            <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i>
                                <span class="fileupload-preview"></span></div>
                            <span class="btn btn-file"><input type="file" name="fileToUpload" id="fileToUpload"/></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <input name="color" type="text" class="form-control" th:field="*{color}" hidden="hidden">
                </div>
            </div>

            <div class="row">
                <div>
                    <input type="submit" value="Сохранить" class="btn btn-success">
                    <a th:href="@{/category/{categoryId}/color/{colorId}/product(categoryId=${category.id}, colorId=${color.id})}"
                       th:utext="Назад" class="btn btn-link"></a>
                </div>
            </div>

        </form>
    </div>

</div>
</div>

<div th:replace="parts/footer :: bootstrap_script"></div>
</body>
</html>