<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="parts/header :: header('Склад')"></head>

<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item"><a href="/category">Категории</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
    </ol>
</nav>

<div class="container base">
    <div class="row">

        <form class="col s12" th:action="@{/category/udate}" th:object="${category}" th:method="POST">

            <div class="row">
                <div class="form-group">
                    <label for="ids">Номер</label>
                    <input id="ids" type="text" class="form-control" th:field="*{id}" readonly="readonly">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input id="name" type="text" class="form-control" th:field="*{name}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="description">Описание</label>
                    <input id="description" type="text" class="form-control" th:field="*{description}">
                </div>
            </div>

            <div class="row">
                <div>
                    <input type="submit" value="Сохранить" class="btn btn-success">
                    <a th:href="@{/category}" th:utext="Назад" class="btn btn-link"></a>
                </div>
            </div>

        </form>
    </div>

</div>
</div>

<div th:replace="parts/footer :: bootstrap_script"></div>
</body>
</html>