<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/header :: header('Статусы заказов - Настройка')"></head>


<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная </a></li>
        <li class="breadcrumb-item"><a href="/settings">Настройки </a></li>
        <li class="breadcrumb-item"><a href="/settings/orders">Статусы заказов </a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование</li>

        <div class="container base">
            <span th:replace="parts/logout_btn :: logout_button"></span>
        </div>
    </ol>
</nav>

<div class="container base">
    <div class="row">

        <form class="col s12"
              th:action="@{/settings/orders/edit/{statusId}(statusId=${status.id})}" th:object="${status}" th:method="POST">

            <div class="row">
                <div class="form-group">
                    <label for="ids">Номер</label>
                    <input name="id" id="ids" type="text" class="form-control" th:field="*{id}" hidden="hidden">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input name="name" id="name" type="text" class="form-control" th:field="*{name}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="number">Сортировка</label>
                    <input name="number" id="number" type="text" class="form-control" th:field="*{number}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="color">Цвет</label>
                    <input name="color" id="color" type="text" class="form-control" th:field="*{color}">
                </div>
            </div>

            <div class="row">
                <div>
                    <input type="submit" value="Сохранить" class="btn btn-success">
                    <a th:href="@{/settings/orders}" th:utext="Назад" class="btn btn-link"></a>
                </div>
            </div>

        </form>
    </div>

</div>
</div>

<div th:replace="parts/footer :: bootstrap_script"></div>
</body>
</html>